<section>
    <h2>Create New Post</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Workout Name</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-url">Workout Url</label>
            <input id="post-url" name="post-url">
        </div>
        <button type="submit" class="btn">Add New Post</button>
    </form>
</section>

<script src="/javascript/add-post.js"></script>