{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea class="comment-input" name="comment-body"></textarea>
    </div>

    <div>
        <button class="addcomment-btn" type="submit">Add Comment</button>
    </div>
</form>

<script src="/javascript/comment.js"></script>
{{/if}}