<section>
    <h2>Create New Post</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-url">Content</label>
            <textarea id="post-url" name="post-url"></textarea>
        </div>
        <button type="submit" class="btn">+ New Post</button>
    </form>
</section>

<script src="/javascript/add-post.js"></script>