<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="meta">
            <span class="user">{{user.username}}</span> on {{format_date created_at}}
        </div>

        <div class="text">
            {{comment_text}}
        </div>
    </section>

    <br />
    {{/each}}
</div>