<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Gym Quest</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                Welcome to Gym Quest! Please login in and join the quest!
            </h1>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for joining the quest!
        </footer>
    </div>
</body>

</html>