<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200&display=swap" rel="stylesheet">
    <title>Gym Quest</title>
</head>

<body>

    {{#if loggedIn}}
    <div class="btn-container">
            <button id="logout" class="btn-no-style">LOGOUT</button>
        </div>
    {{/if}}
    <div class="wrapper">
        <header>
            <h1 class="logo">
                Gym Quest
            </h1>
        </header>
        <main>           
            {{{ body }}}
        </main>
        {{#if loggedIn}}
        <footer class="signup-footer">
            Thanks for joining the quest!
        </footer>
        {{/if}}
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>