<h1>
    Abdominals
</h1>

{{> add-post}}

{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}