<h1>
    {{ category.category_name }}
</h1>

{{!-- {{> add-post}} --}}

{{#if category.workouts.length}}
<section>
    <h2>{{ category.category_name }} Workouts</h2>
    <ol>
        {{#each category.workouts as |workout|}}
        <li>
            {{> post-info workout}}
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}