<h1 class="category-name">
    {{ category.category_name }}
</h1>

{{!-- {{> add-post}} For a later date --}}

{{#if category.workouts.length}}

<div class="rows">
    {{#each category.workouts as |workout|}}
        <div class="column">
            <div class="card">
                {{!-- <h2>{{ category.category_name }} Workouts</h2> --}}
                 {{> post-info workout}}
            </div>
        </div>
    {{/each}}
</div>

{{/if}}