
    <h1 class="instruct">
        Welcome {{user.username}}, please select your workout!
    </h1>

<div class="category-container">
    <div class="categories">
            {{#each categories as |category|}}
                <button type="submit" class="category-btn">
                    <a class="each-category" href="/dashboard/{{category.category_name}}">{{category.category_name}}</a>
                </button>
            {{/each}}
    </div>
</div>
