<h1>
    Welcome {{user.username}}, please select your workout quest!
</h1>
<ol>
    {{#each categories as |category|}}
    <li><a href="/dashboard/{{category.category_name}}">{{category.category_name}}</a></li>
    {{/each}}
</ol>
