<h1 class ="welcome">Login to view workouts and interact with others</h1>

<form class="login-form">
    <div>
        <label for="username-login" class="usertext1">Username:</label>
        <input type="text" id="username-login" />
    </div>
    <div>
        <label for="password-login" class="passwordtext1">Password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit" class="loginbtn">Login</button>
    </div> 
    
    <a class="signup" href="/signup">Don't have an account? Sign up here!</a>
</form>


<script src="/javascript/login.js"></script>
