<form class="login-form">
    <div>
        <label for="username-login">Username:</label>
        <input type="text" id="username-login" />
    </div>
    <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit">login</button>
    </div>  
</form>

<a href="/signup">Don't have an account? Sign up!</a>

<script src="/javascript/login.js"></script>
