<h1>
    Legs
</h1>

{{> add-post}}

{{#if workouts.length}}
<section>
    <h2>Legs Workouts</h2>
    <ol>
        {{#each workouts as |workout|}}
        <li>
            {{> post-info workout}}
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}