<h2>Please sign up and join the quest!</h2>

<form class="signup-form">
    <div>
        <label for="username-signup" class="usertext2">Username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="email-signup" class="emailtext">Email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <label for="password-signup" class="passwordtext2">Password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit" class="submitbtn">Sign up!</button>
    </div>
</form>


<a href="/"><div id="login-link">Have an account? Log In!</div></a>

<script src="/javascript/signup.js"></script>