
<div class="comment-border">
    <div class="info-container">
        <div class="inner-info">
        {{> post-info workout}}{{> add-comment }}
        </div>
    </div>

    <div class="emptydiv"></div>

    <div class="comment-container">
        <div class="inner-container">
        {{> comment workout.comments}}
        </div>
    </div>
</div>