body, html {
    position: relative;
    text-align: center;
    background: #5895AF;
    background-image: url("../assets/runningman.svg");
    background-repeat: no-repeat;
    background-size: 550px;
    background-position: left;
    background-position-y: 50px;
}
.wrapper {
    position: relative;
    text-align: center;
    padding-top: 20px;
}

.logo {
    position: relative;
    font-family: 'Pacifico', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 84px;
    letter-spacing: -0.015em;
    color: #324144;
    text-shadow: 1px 2px #FF6C75;
} 

.login-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 40px auto auto auto;
    width: 308px;
    height: 296px;
    background: #B3CFE9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}

.signup-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 40px auto auto auto;
    width: 308px;
    height: 360px;
    background: #B3CFE9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px; 
}

#username-login, #password-login, #username-signup, #email-signup, #password-signup {
    position: relative;
    align-items: center;
    width: 273px;
    height: 37px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

.usertext1, .usertext2, .passwordtext1, .passwordtext2, .emailtext {
    display: flex;
    align-items: flex-start;
    padding-left: 16px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.loginbtn, .submitbtn {
    position: relative;
    align-items: center;
    width: 111px;
    height: 37px;
    background: #FF6C75;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.loginbtn:hover {
    color: white;
}
.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}

#logout {
    width: 111px;
    height: 37px;
    background: #FF6C75;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    margin-top: 15px;
    border-radius: 5px;
} 

.signup-footer {
display: relative;
align-items: center;
font-family: 'IBM Plex Sans Arabic', sans-serif;
font-size: 20px;
font-weight: bold;
margin-top: 50px;

}

.welcome {
    display: flex;
    justify-content: center;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 25px;
    margin-top: 60px;
    font-weight: bold;
}

.signup, a {
    position: relative;
    text-align: center;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    text-decoration: none;
    font-size: 17px;
    color: black;
}

.signup:hover {
    font-weight: bolder;
    text-decoration: none;
    color: red;
}

.instruct {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 25px;
    margin: 40px auto 40px auto;
    font-weight: bold;
}

.category-container {
    display: flex;
    justify-content: center;
    margin: auto;
    background: #B3CFE9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    width: 308px;
    height: 400px;
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
}

.category-btn {
    position: relative;
    align-items: center;
    width: 275px;
    height: 37px;
    background: #FF6C75;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.each-category:hover {
    text-decoration: none;
    color: white;
}